{% extends "template/base.twig" %}
{% block content %}
<div class="row">
        <div class="col-lg-8 mb-4">
          <h3>Agregar usuarios para APP @Medellín</h3>
          <br>
          <form name="sentMessage" id="contactForm" novalidate method="post" action="{{ path_for('usuario.insertar') }}">
            <div class="control-group form-group">
              <div class="controls">
                <label>Nombre:</label>
                <input type="text" class="form-control" name="nombre" id="nombre" required data-validation-required-message="Please enter your name.">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Email:</label>
                <input type="tel" class="form-control"  name="email" id="email" required data-validation-required-message="Please enter your phone number.">
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Contraseña:</label>
                <input type="email" class="form-control" name="password" id="password" required data-validation-required-message="Please enter your email address.">
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <div class="form-group">
                    <label>Avatar</label>
                        <select class="form-control" name="avatar">
                            <option value="avatar1">1</option>
                            <option value="avatar2">2</option>
                            <option value="avatar3">3</option>
                            <option value="avatar4">4</option>
                            <option value="avatar5">5</option>
                        </select>
                </div>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <div class="form-group">
                    <label>Estado</label>
                        <select class="form-control" name="estado">
                            <option value="0">Activo</option>
                            <option value="1">Pasivo</option>
                        </select>
                </div>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>terminos y condiciones:</label>
                <textarea  rows="10" cols="1000" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none">
                         Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio,
                         que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de 
                         nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado 
                         los Términos y Condiciones de Uso en el presente documento. Todas los productos  que son ofrecidos 
                         por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web 
                         tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos,
                         para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos 
                         personales fidedignos y definición de una contraseña. El usuario puede elegir y cambiar la clave 
                         para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado 
                         y que sea necesario para la compra de alguno de nuestros productos. no asume la responsabilidad 
                         en caso de que entregue dicha clave a terceros. Todas las compras y transacciones que se lleven 
                         a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, 
                         el cual podría incluir la verificación del stock y disponibilidad de producto, validación de 
                         la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones 
                         requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación 
                         por medio de correo electrónico.</textarea>
              </div>
              <div class="form-group">
                        <label>Aceptar condiciones</label>
                        <label class="checkbox-inline">
                        <input  value="0" type="checkbox" name="terminos_condiciones">:</label>
        
                </div>
            </div>
            
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Guardar</button>
          </form>
        </div>

      </div>
{% endblock %}
