{% extends "template/base.twig" %}
{% block content %}

<br>
<div class="well">
<h4>Tenga en cuenta...!</h4>
<p>El tamaño ideal para las imagenes dentro de APP es (900 x 600) pixeles.</P>
</div>

<div class="row">
        <div class="col-lg-8 mb-4">
          <h3>Agregar Novedades para APP @Medellín</h3>
          <br>
          <form action="{{ path_for('novedad.insertar') }}"  method="post" enctype="multipart/form-data" id="formCreateNovedad">
            <div class="control-group form-group">
              <div class="controls">
                <label>Titulo:</label>
                <input type="text" class="form-control" name="titulo" id="titulo" />
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>resumen:</label>
                <input type="tel" class="form-control" name="resumen" id="resumen" maxlength="100" placeholder="100 caracteres" />
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Link:</label>
                <input type="tel" class="form-control" name="link" id="url" />
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <div class="form-group">
                    <label>Tipo novedad</label>
                        <select class="form-control" name="tipo_novedad">
                            <option value="2">Principal</option>
                            <option value="1">Destacada</option>
                        </select>
                </div>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Contenido:</label>
                <textarea id="bodyField" name="contenido" >
                </textarea>

              </div>
            </div>

            <div class="form-group">
            <input type="file" name="imagen" id="imagen" />
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->


          </form>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Guardar</button>

        </div>

      </div>
{% endblock %}
