{% extends "template/base.twig" %}
{% block content %}


<br>

<div class="well">
<h4>Base de datos carreras</h4>
<p>Tipo de archivo .xls</P>
</div>


<div class="ed-container full">
    <div class="ed-item s-100 l-50">
    <h3>Actualización carreras universitarias</h3>
    <br>
        <a href="xlsx/test.xlsx" download="plantilla.xlsx">Descargar plantilla</a>
        <form action="{{ path_for('database.carreras') }}" method="post" enctype="multipart/form-data">
        <br>
            <label for="archivo">Subir archivo xlsx </label>
            <br>
            <input type="file" name="archivo" id="archivo" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" >
            <br>
            <button>Cargar</button>
        </form>
    </div>
</div>

{% endblock %}
