{% extends "template/base.twig" %}
{% block content %}


<br>

<div class="well">
<h4>Base de datos universidades</h4>
<p>Tipo de archivo .xls</P>
</div>


<div class="ed-container full">
    <div class="ed-item s-100 l-50">
    <h3>Actualizacion de Base de datos</h3>
    <br>
        <a href="xlsx/test.xlsx" download="plantilla.xlsx">Descargar plantilla</a>
        <form action="" method="post" enctype="multipart/form-data">
        <br>
            <label for="archivo">Subir archivo xlsx </label>
            <br>
            <br>
            <input type="file" name="archivo" id="archivo" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" >
            <br>
            <br>
            <button>Cargar</button>
        </form>
    </div>
    <div class="ed-item s-100 l-50">
      <br>
        <?php if ($_POST) : ?>
            <p><strong>Total Registros: <?= $phpfile->total ?></strong></p>
            <p><strong>Total Errores: <?= $phpfile->errores ?></strong></p>
        <?php endif ?>
    </div>
</div>

{% endblock %}
