{% extends "template/base.twig" %}
{% block content %}
<div class="row">
        <div class="col-lg-8 mb-4">
          <h3>Editar usuarios Administrativos para APP @Medellín</h3>
          <br>

          <form name="sentMessage" id="contactForm" novalidate method="post" action="{{ path_for('usuarioadmin.editar', {'id' : useradmin.id}) }}">
            <div class="control-group form-group">
              <div class="controls">
                <label>Nombre:</label>
                <input type="text" class="form-control" name="name" id="name" required data-validation-required-message="Please enter your name." value="{{ useradmin.name }}">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Email:</label>
                <input type="tel" class="form-control"  name="email" id="email" required data-validation-required-message="Please enter your phone number." value="{{ useradmin.email }}">
              </div>
            </div>
            <!--div class="control-group form-group">
              <div class="controls">
                <label>Contraseña:</label>
                <input type="email" class="form-control" name="password" id="password" required data-validation-required-message="Please enter your email address.">
              </div>
            </div-->
            <div class="control-group form-group">
              <div class="controls">
                <div class="form-group">
                    <label>Rol</label>
                        <select class="form-control" name="rol_id" value="{{ useradmin.rol_id }}">
                            <option value="1">Superadmin</option>
                            <option value="2">Admin</option>

                        </select>
                </div>
              </div>
            </div>

              <br>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Actualizar</button>
          </form>
        </div>

      </div>
{% endblock %}
