<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>


    <link href="{{ base_url }}/adminarrobapp/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url }}/adminarrobapp/public/css/signin.css" rel="stylesheet">
    <link href="{{ base_url }}/adminarrobapp/public/css/grid.css" rel="stylesheet">

</head>

<body class=" container">
      <div class="row">
        <div class="col-12 col-md-8">

        </div>
        <div class="col-6 col-md-4">
	           <div class="login-container">
               <div id="output"></div>
               <div class="avatar"></div>
               <div class="form-box">
                <form action="{{ path_for('signin') }}" method="post">
                    <input name="email" type="text" placeholder="Correo">
                    <input name="password" type="password" placeholder="Contraseña">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>

                </form>
              </div>
          </div>
        </div>
    </div>
      <div class="row">
        <div class="col-6 col-md-4">

        </div>
        <div class="col-6 col-md-4">

        </div>
        <div class="col-6 col-md-4">

        </div>
      </div>
      <div class="row">
        <div class="col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/adminapparrobamedellin.appspot.com/o/IMG%2Flogo.png?alt=media&token=cdfc51d2-024e-4e7c-a016-7ccae30237a9" alt="" height="240"  width="700">

        </div>
        <div class="col-6">


        </div>
        <div class="col-6">


        </div>
      </div>


  </body>

</html>
