{% extends "template/base.twig" %}
{% block content %}


<table class="table">
    <thead>
        <th>Nombre</th>
        <th>E-mail</th>
        <th>Estado</th>
        <th>Operaciones</th>
    </thead>
    {% for user in users  %}
    <tbody>
        <td>{{ user.nombre }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.estado }}</td>
    </tbody>
    {% endfor %}
</table>



{% endblock %}
