{% extends "template/base.twig" %}
{% block content %}
<div class="container-fluit">
<img src="https://firebasestorage.googleapis.com/v0/b/adminapparrobamedellin.appspot.com/o/IMG%2FArrobApp2.jpg?alt=media&token=f2ff5858-860e-4d9b-8a99-e740e09a0514" ></img>
</div>
{% endblock %}
